src/lib/contract.json linguist-generated
src/lib/contract.d.ts linguist-generated
src/lib/ops.json linguist-generated
src/lib/migration.json linguist-generated
migrations/snapshots/**/contract.json linguist-generated
migrations/snapshots/**/contract.d.ts linguist-generated
